html {
  margin-top: 0;
  margin-left: 0;
}

body {
  margin-top: 0;
  margin-left: 0;
  scroll-snap-type: y mandatory;
}

body section {
  scroll-snap-align: start;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Mono", monospace;
}

p {
  font-family: "Roboto", sans-serif;
  color: #333333;
}

main {
  scroll-snap-type: y mandatory;
}

.background {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

main .background:nth-child(odd) {
  background-color: #fea49f;
}

main .background:nth-child(even) {
  background-color: #ffe4e0;
}

/* start section */

#start h1 {
  margin-top: 120px;
  font-size: 80px;
  color: #ffffff;
  text-align: center;
}

#start p {
  font-size: 20px;
  color: #ffffff;
}

#start em {
  font-size: 24px;
}

#map {
  height: 300px;
  width: 400px;
  margin: 20px;
}

/* about me section */

#aboutmecontainer {
  display: flex;
  flex-flow: row;
  height: 100vh;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  margin: 120px 0 0 0;
  align-items: center;
}

#aboutmetext {
  width: 60%;
  padding: 20px 50px 20px 20px;
  text-align: center;
}

#aboutmetext h1 {
  margin: 0 0 50px 0;
  font-size: 4rem;
  text-align: center;
  color: #101358;
}

#aboutmetext p {
  text-align: justify;
  color: #101358;
}

#aboutmeimageleft {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#aboutmeimageright {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#top-left-pic:hover,
#bottom-right-pic:hover {
  transform: scale(1.2) rotate(15deg);
  transition: 0.3s ease;
}

#bottom-left-pic:hover,
#top-right-pic:hover {
  transform: scale(1.2) rotate(-15deg);
  transition: 0.3s ease;
}

#aboutmecontainer div img {
  width: 80%;
  height: auto;
  padding: 15px;
}

/* why i'm applying */
#why-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between;
}

#whyfandc h1 {
  font-size: 4rem;
  color: #ffffff;
  padding-top: 100px;
  text-align: center;
  margin: 0;
}

#whyfandc p {
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 5px;
}

#why-text-top p {
  color: #ffffff;
  font-size: 1.1rem;
  display: inline;
}

#why-text-top {
  column-count: 3;
  column-gap: 5%;
  padding: 2%;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 1.3;
}

#why-img {
  height: 40vh;
  width: 100%;
  background-image: url(../images/ascii.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}

/*something more about me section*/

#somethingmorecontainer {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: no-wrap;
}

#somethingmoretext {
  padding: 20px;
}

#somethingmoretext h1 {
  font-size: 4rem;
  color: #101358;
}

#somethingmoretext p {
  color: #101358;
}

.quote {
  padding-bottom: 10px;
}

#somethingmoretext em {
  font-style: italic;
}

/* image carousel */
#carousel {
  padding: 20px;
}

#image-carousel {
  height: 480px;
  width: 640px;
  position: relative;
  padding: 0px;
}

#canvas {
  padding: 0;
  margin: 0;
  border: #ffffff 3px solid;
}

#next-button {
  right: 0;
}

#previous-button,
#next-button {
  position: absolute;
  top: 50%;
  transform: translate();
  color: #ffffff;
  font-size: 50px;
}

#previous-button:hover {
  background-color: rgba(140, 140, 140, 0.8);
  transition: 0.6s ease;
  border-radius: 0 8px 8px 0;
}

#next-button:hover {
  background-color: rgba(140, 140, 140, 0.8);
  transition: 0.6s ease;
  border-radius: 8px 0 0 8px;
}

#play-button:hover,
#pause-button:hover {
  background-color: rgba(140, 140, 140, 0.8);
  transition: 0.6s ease;
  border-radius: 8px;
}

.dot:hover {
  background-color: rgba(140, 140, 140, 0.8);
  transition: 0.6s ease;
  border: none;
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translate(-50%, -50%);
}

.dot {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  display: inline-block;
  margin: 6px;
  border: none;
  background-color: #ffffff;
}

#play-button {
  position: absolute;
  bottom: 5%;
  right: 3%;
  color: #ffffff;
  font-size: 50px;
}

#pause-button {
  position: absolute;
  bottom: 5%;
  left: 3%;
  color: #ffffff;
  font-size: 50px;
}

.active i {
  background-color: black;
}

span,
i {
  cursor: pointer;
}

/* external links */

#links h1 {
  font-size: 4rem;
  color: #ffffff;
  padding-top: 200px;
  text-align: center;
  margin: 0;
}

#links p {
  color: #ffffff;
  font-size: 1.2rem;
  display: inline;
  line-height: 2;
  text-align: center;
  padding: 0;
  margin: 0;
}

#links a {
  padding: 0;
  margin: 0;
  text-align: center;
}

#links i {
  color: #ffffff;
  text-align: center;
  line-height: 2;
}

#logos {
  display: flex;
  flex-flow: row;
  height: 130px;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

#logos a {
  margin: 0 auto;
  height: 130px;
  width: 130px;
  padding: 0px 30px;
}

#logos img {
  margin: 0 auto;
  height: 120px;
  border-radius: 50%;
}

#logos img:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#links-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 100vh;
  width: 100vw;
}

#wave {
}
