#navbarcontainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  transform: translate(0px, -100%);
  animation: appear 1.2s ease-in-out 1 normal forwards;
  animation-delay: 0.2s;
}

@keyframes appear {
  0% {
    transform: translate(0px, -100%);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

#navbarbuttons {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  background-color: #101358;
  padding: 60px 10px; /* this to change on scroll */
  transition: 0.5s;
  font-size: 28px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

#navbarbuttons a {
  float: left;
  color: #eeeeee;
  text-align: center;
  margin: auto;
  padding: 12px;
  text-decoration: none;
  /* this to change on scroll */
  line-height: 25px;
  border-radius: 4px;
  width: 20%; /* NB need to change if you add more buttons */
}

#navbarbuttons a:hover {
  background-color: #ddd;
  color: black;
}

#navbarbuttons a.active {
  text-decoration: underline;
}

/* small screen nav bar */

#dropdown {
  display: none;
  font-family: "Roboto", sans-serif;
  background-color: #101358;
  position: relative;
  width: 40%;
  top: 40px;
  z-index: 1;
}

#dropdown a {
  padding: 10px;
  color: #eeeeee;
  text-decoration: none;
  display: block;
}

#dropdown a:hover {
  background-color: #ffe4e0;
  color: #101358;
}

#small-menu-bar {
  display: none;
  flex-direction: row;
  position: absolute;
  background-color: #101358;
  top: 0;
  width: 100%;
  height: 40px;
  color: #eeeeee;
  align-items: center;
}

#small-menu-bar a:hover {
  cursor: pointer;
}

#small-menu-bar a h4 {
  position: absolute;
  left: 50px;
  top: 7px;
  font-family: "Roboto", sans-serif;
  padding: 5px;
  margin: auto;
  font-size: 1rem;
}

#menu-icon {
  display: none;
  position: absolute;
  color: #eeeeee;
  top: 0;
  font-size: 2rem;
  padding: 4px 8px;
}

/* progress bar */

.progress-container {
  width: 100%;
  height: 5px;
  background: #ffffff;
}

.progress-bar {
  height: 5px;
  background: #bbbbbb;
  width: 0%;
  transition: 0.75s;
  width: 10%;
}
