/* responsivity for v small devices eg smaller phone */
/*canvas size 300 (full width)*/

@media only screen and (max-width: 599px) {
  h1 {
    font-size: 1.5rem;
  }

  .background {
    height: auto;
  }

  #dropdown {
    width: 60%;
  }

  /* start page */
  #start h1 {
    font-size: 2.5rem;
  }

  /* more about me */
  #previous-button.material-icons,
  #next-button.material-icons,
  #play-button.material-icons,
  #pause-button.material-icons {
    font-size: 20px;
  }
}

@media only screen and (max-width: 450px) {
  #aboutmeimagecontainer {
    display: none;
  }
}

/* responsivity for small devices eg portrait tablet or large phone */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  body {
    scroll-snap-type: none;
  }

  /* navbar */

  #small-menu-bar {
    display: flex;
  }

  #menu-icon {
    display: block;
  }

  #navbarbuttons {
    display: none;
  }

  .progress-container {
    position: fixed;
    top: 40px;
    height: 3px;
  }

  .progress-bar {
    height: 3px;
  }

  /* start page */

  #start h1 {
    font-size: 3rem;
  }
  #start p {
    font-size: 1rem;
  }

  /* about me page */
  #aboutmecontainer {
    flex-flow: column;
    margin: 20px 0 0 0;
  }

  #aboutmetext {
    width: 95%;
    padding: 5px;
    margin: auto;
  }

  #aboutmetext h1 {
    margin: 0px;
  }

  #aboutmetext p {
    margin: 6px 0px;
  }

  #aboutmeimagecontainer {
    flex-flow: row;
    width: 100%;
    justify-content: center;
  }

  #aboutmeimageleft {
    flex-flow: row;
  }

  #aboutmeimageright {
    flex-flow: row;
  }

  #aboutmecontainer div img {
    width: 40%;
  }

  /* something more about me */

  #somethingmorerow {
    flex-direction: column;
  }

  #somethingmoretext {
    width: 95%;
    margin: auto;
    padding: 5px;
  }

  #carousel {
    padding: 10px;
  }

  /* why I'm applying */

  #why-text-top {
    column-count: 1;
  }

  #why-img {
    height: 30vh;
  }

  /* links */

  #links h1 {
    padding-top: 50px;
  }

  #logos {
    flex-direction: column;
    padding: 10px;
  }

  #logos a {
    padding: 15px 0px;
  }

  #logos img {
    height: 100px;
  }

  #links p {
    font-size: 1rem;
    line-height: 1.7;
    padding: 10px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  #previous-button,
  #next-button,
  #play-button,
  #pause-button {
    font-size: 30px;
  }

  .dot {
    height: 7px;
    width: 7px;
  }
}

/* responsivity for medium devices eg landscape tablet */
@media only screen and (max-width: 991px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.8rem;
  }
  #start h1 {
    font-size: 4rem;
  }

  #start p {
    font-size: 1rem;
  }

  /* something more about me */
  #somethingmoretext p,
  #somethingmoretext ul {
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1;
  }

  .dot {
    height: 9px;
    width: 9px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  #previous-button,
  #next-button,
  #play-button,
  #pause-button {
    font-size: 40px;
  }
}

/* anything 992 or wider will just use 'normal' css */
@media only screen and (max-width: 1200px) {
  #aboutme h1 {
    font-size: 2rem;
  }

  #aboutme p {
    font-size: 0.8rem;
  }
}

/* Safari specific selector hack - disables scroll snap as it was causing strange flickering */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media,
  _:future,
  :root,
  body {
    scroll-snap-type: none;
  }
}
